body{
    background-image: url(https://pyxis.nymag.com/v1/imgs/e17/a66/2ae7481cf67b04dbcc794a6cdfb0af78bb-vogue-italia-cover.rvertical.w600.jpg);
}

button{
    display: auto;
    font-size: 40p;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

#display-letter{
    display: flex; 
    gap: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
}

#display-letter #letter{
    width: 28px;
    margin-bottom: 40px;
    border-bottom: 3px solid black;
}

