body{
    background-image: url(https://t4.ftcdn.net/jpg/03/17/72/83/360_F_317728377_sCPKkOYg94Vzb7v0kFgLvEE1Py1JZ6eI.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button{
    display: auto;
    font-size: 40p;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%)
}

h2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%)

}

h3{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.user{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: whitesmoke;
}

#userInput{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#message{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

