body{
    background-image: url(https://i.pinimg.com/originals/59/23/6d/59236d433fa027d1cab4e2121de3da89.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

button{
    display: auto;
    font-size: 40p;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

#main-menu{
    background-color: black;
    color: whitesmoke;
}

 #fashion-button{ 
    background-color: black;
    color: whitesmoke;
}

#music-button{
    background-color: black;
    color: whitesmoke;
}

#movies-button{
    background-color: black;
    color: whitesmoke;

}

#tv-button{
    background-color: black;
    color: whitesmoke;

}

#celebrities-button{
    background-color: black;
    color: whitesmoke;

}

#answer-button{
    background-color: burlywood;
    color: black;
}

#play-again{
    background-color:moccasin;
    color: black;
} 